<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\env\Scripts\python.exe"
                  arguments="%home%\site\wwwroot\app.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\httpplatform_stdout.log"
                  startupTimeLimit="60">
    </httpPlatform>
  </system.webServer>
</configuration>
